.signUpForms {
    width: 8.5in;
    height: 11in;
    /* background-color: blue; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    text-align: center;
}

.page-break {
    page-break-after: always;
}